@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@400;500;600;700;&display=swap');
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}
body{
    height: 100vh;
    background: url(3.jpg) no-repeat center;
    padding: 50px 10px;
}
.container{
    position: relative;
    height: 100%;
    background: rgba(255,255,255,.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 5%;
    backdrop-filter: blur(20px);
}
header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 200%;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 150%;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    border-bottom: 2px solid transparent;
    transition: 5s;
}
.navbar a :hover,
.navbar a.active{
       background-color: #fff;
}
.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
}
.home-detail h1{
    font-size: 55px;
    line-height: 1;
}
.home-detail h2{
    font-size: 32px;
}
.home-detail p{
    margin: 10px 0 20px;
}
.home-detail .download-social{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    box-sizing: 0 0 10px #fff;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: 5s;
}
.btn:hover{
    background: transparent;
    box-shadow: none;
    color: #fff;
}
.home-detail .social-icon{
    margin-left: 20px;
}
.home-detail .social-icon a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    transition: 5ms;
}
.home-detail .social-icon a:hover{
    background: #fff;
    box-shadow: 0 0 10px #fff;
    color: #333;
}
.home-img .img-box{
    position: relative;
    width: 15vw;
    height: 15vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
    left: 250%;
}
.home-img .img-box img{
    position: absolute;
    display: block;
    width: 250px;
    object-fit: cover;
}
